
/*GENERAL*/
body{
    background-color: #FFFFFF;
    color: #000000;
}

a {
    color:#FFFFFF;
}

h3{
    color: #F600FA;
}

/*NAVIGATION*/
ul{
    background-color: #F600FA;
}

li a:hover{
    color:#000000;
}

/*INTRODUCTION*/ 

#logo{
    background-color: #FFFFFF;
}

.emph{
    color:#F600FA;
}

/*TABLES*/
table {
    border: 1px solid #000000;
}

th, tr, td{
    border: 1px solid #000000;
}

table a{
    color:#000000; 
}

table a:hover{
    color:#FFFFFF;
}

table tr:hover{
    background-color: #F600FA;
}

/*SERVICES*/
#currency{
    color:#F600FA;
  }

.labelcolor{
    color:#F600FA;
}


/*END OF CODE*/ 
